@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Outfit:wght@100..900&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
}

*{
  font-family: "Cal Sans", sans-serif;
}

body{
  color: white;
  background-color: #09090B;
}

.no-scrollbar{
  scrollbar-width: none;
}